@font-face {
    font-family: 'DroidSansRegular';
    src: url('/fonts/DroidSans-webfont.eot');
    src: url('/fonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DroidSans-webfont.woff') format('woff'),
         url('/fonts/DroidSans-webfont.ttf') format('truetype'),
         url('/fonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('/fonts/DroidSans-Bold-webfont.eot');
    src: url('/fonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('/fonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansMonoRegular';
    src: url('DroidSansMono-webfont.eot');
    src: url('DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('DroidSansMono-webfont.woff') format('woff'),
         url('DroidSansMono-webfont.ttf') format('truetype'),
         url('DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.slide {
   background: -webkit-gradient(linear, left top, right bottom, from(#FFF), to(rgb(170,190,200)))
}

h1, h2 {
   font-weight: bold;
   color: rgb(10,32,65);
   text-shadow: rgba(0,0,0,0.3) 3px 3px 2px;
   margin: 0;
   padding: 0.5em 0;
   font-family: "Droid Sans";
   letter-spacing: -3px;
}
h2 {
   color: rgb(70,92,100);
   text-shadow: none;
}

footer {
   display: block;
   position: absolute;
   bottom: 0;
   padding-bottom: 80px;
   width: 100%;
}
footer small {
   font-size: 80%;
}

.main h1 {
   color: #990000;
}

.bullets ul li {
   color: rgb(70,92,100);
   line-height: 120%;
   text-align: left;
   list-style: disc;
   padding-left: 0.3em;
}
.bullets ul {
   font-family: 'Droid Sans';
   font-weight: bold;
   font-size: 40px;
   padding: 0 1em;
   margin-left: 1.2em;
}
.bullets ul li.blur {
   color: #AAA;
}
.bullets ul ul {
   margin-top: 15px !important;
   margin-bottom: -10px !important;
   list-style-type: none !important;
   padding: 0 !important;
   font-weight: normal;
}
.bullets ul ul li {
   font-size: 70%;
   margin-bottom: 0 !important;
   paddinb-bottom: 0 !important;
   list-style-type: none !important;
}

.with-title {
   width: 1024px;
   height: 768px;
}
.with-title h1 {
   line-height: 170px;
   top: 0;
   position: absolute;
   width: 100%;
   text-align: center;
   font-size: 70px;
}
.with-title h2 {
   top: 120;
   position: absolute;
   width: 100%;
   text-align: center;
}
.with-title pre {
   padding-top: 220px;
   font-size: 26px;
   line-height: 36px;
}
.bullets.with-title ul {
   padding-top: 220px;
}
.bullets.with-title h1 {
}

.resources {
   position: absolute;
   bottom: 60px;
   width: 100%;
   text-align: center;
}

pre {
   font-size: 28px;
   padding-left: 50px;
   background: transparent !important;
   font-family: 'Droid Sans Mono', monospace;
}
code {
   font-family: 'Droid Sans Mono', monospace;
}
.smaller pre {
   font-size: 24px !important;
}
.meme img {
   position: absolute;
   top: 0;
}

.wrong {
   background: -webkit-gradient(linear, left top, right bottom, from(#EE4444), to(#AA0000))
}
.wrong *, .good * {
   color: #FFF !important;
}
.wrong footer * {
   color: #FFAA88 !important;
}
.good {
   background: -webkit-gradient(linear, left top, right bottom, from(#33EE33), to(#008800))
}

.green h1 {
   color: green;
}

.woot {
   color: transparent;
}

.full {
   height: 100%;
   vertical-align: middle;
}
.full h1 {
   margin: 0 !important;
   padding: 0 !important;
   top: 50% !important;
   position: absolute;
   width: 100%;
}